#footer{
    
    direction: rtl;
    
}
#footer .container{
    background-color: var(--primary);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;

}
#footer .logo__container{
    direction: ltr;

}
#footer .title{
    font-size: 20px;
}
#footer .route{
    color: var(--text-color);
    display: block;
    margin: 15px 0;
}
#footer .footer__bottom{
    background-color: black;
    text-align: center;
    padding: 20px;
}
/*make footer res*/
@media(max-width:930px){
    #footer .container {
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:760px){
    #footer .container {
        grid-template-columns: 100%;
    }
}
