#contact{
    direction: rtl;
    background-image:url("../../assets/logo.svg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}
#contact .overlay__div{
    background: var(--primary);
}
#contact .container{
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    max-width: 900px;
    margin: auto;
}
#contact .right__container{
    background: var(--bg-secondary);
    padding: 1rem;
    border-radius:var(--radius-3);
    flex-direction: column ;
    justify-content: space-between;
    align-items: stretch;
}
#contact .contact__info{
    margin: 20px 0;
}
#contact .contact__info .icon{
    background: var(--primary);
    color: var(--color-black);
}
#contact .control{
    display: block;
    border: var(--gray-border);
    border-width: 2px;
    padding: 0px 15px;
    width: 100%;
    height: 35px;
    border-radius: var(--radius-1);
    margin: 15px 0px;/*15px for the space on the hight 0px will adjust the borders start from the start*/
    background: var(--bg-secondary);
    resize: none;
    transition: var(--transition);
}
#contact .control:focus{/*when the client clicking on the box then will be focus*/
    border-color: var(--primary);
}
#contact textarea.control{/*מגדיל את האורך והרוחב של האוביקט textarea*/
    height: 100px;
    padding: 10px;
}
#contact .form__bottom{
    margin-top: 30px;
}
#contact .form__bottom .btn{
    width: 100%;
    padding: 15px 20px;
}
/*make contact responsive*/
@media (max-width:930px){
    #contact .container{
        grid-template-columns: 100%;
    }
}